<nav class="navbar navbar-expand-md" >
  <div class="container-fluid px-0 align-items-center">
    <a class="navbar-brand nav-header-custom mr-1 pb-2" routerLink="./">
      EzyBezy
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <a class="h-100 d-flex text-decoration-none justify-content-center mx-3"   routerLink="./cart">
          <div class="d-flex justify-content-center align-items-center ">
            <app-svg-viewer  [svgName]="'cart.svg'"></app-svg-viewer>
          </div>
        </a>
        <mat-icon (click)="toggleMenu()" style="font-size: 30px;" class="navbar-toggler-icon nav-left-custom">menu</mat-icon>
      </div>
    </button>
    <div class="collapse navbar-collapse text-center justify-content-between" [ngClass]="{'show': isMenuOpen}" id="navbarSupportedContent">
      <app-collapsed-menu *ngIf="!isMenuOpen; else smallScreenNav"></app-collapsed-menu>
      <ng-template #smallScreenNav >
        <app-mobile-menu></app-mobile-menu>
      </ng-template>
      <div  class="nav-left d-flex align-items-center pointer" *ngIf="!isMenuOpen" >
        <app-search-bar></app-search-bar>
        <app-user ></app-user>
        <app-cart-link></app-cart-link>
      </div>
    </div>
  </div>
</nav>




