.left-nav > a:first-child,
.left-nav > a:nth-child(2){
  margin: 0 10px;
}

nav.navbar {
  min-height: 5vh;
  z-index: 5;
  background-color: var(--bg-color);
  border-bottom: 1px solid #ccc;
}

@media (min-width: 1600px) {
  .container-fluid {
    width: 1200px;
    margin: auto;
  }
}



.nav-left {
  margin: 0 10px;
  flex-grow: 1;
  justify-content: flex-end;
}





.nav-header-custom {
  color: var(--text-color) !important;
  transition: all ease-in 0.1s;
  &:hover {
    color: var(--hover-color) !important;
    transform:scale(1.05) ;
  }
}

