::ng-deep .cart svg{
  width: 35px;
  height: 100%;
  & path:nth-child(1) {
    stroke: var(--primary-color);
    transition: all ease-in 0.1s;
  }
  & path:nth-child(2) {
    fill:var(--primary-color);
    transition: all ease-in 0.1s;
  }
  & path:nth-child(3),
  & path:nth-child(4) {
    stroke:var(--primary-color);
    transition: all ease-in 0.1s;
  }
  &:hover {
    transform:scale(1.05) ;
    & path:nth-child(1) {
      stroke: var(--hover-color);
    }
    & path:nth-child(2) {
      fill:var(--hover-color);
    }
    & path:nth-child(3),
    & path:nth-child(4) {
      stroke:var(--hover-color);
    }
  }
}
