.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--bg-color);
}



.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}
::ng-deep .content-wrapper app-profile {
  background-color: var(--bg-color);
}
::ng-deep .content-wrapper app-register{
  background: var(--gradient-bg-color);

}

::ng-deep .content-wrapper >  *:nth-child(2) {
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin: 50px 0;
}

::ng-deep app-home {
  flex-direction: column;
}
